{% load my_tags %}
<div class="card mb-4 box-shadow">

    <div class="media">
        <div class="card"></div>
        <div class="card-header">
            <h2 class="card-title pricing-card-title">{{ object.name }}</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <img class="img-fluid" src="{% mediapath object.photo %}"
                     data-holder-rendered="true" style="width: 20%; height: 20%">
            <div class="col-6">
                <h4 class="mx-5 card-title pricing-card-title">{{ object.price }} руб.</h4>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ object.description }}</li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>

</div>
