{% extends 'catalog/base.html' %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for object in categories %}
        <div class="col-4 p-4">
            <div class="card h-100 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object }}</h4>
                </div>
                <div class="card-body">
                    <p class="text-center">{{ object.description | truncatechars:100 }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}