{% load my_tags %}
<div class="card mb-4 box-shadow">

    <div class="media">
        <img class="img-fluid"
             src="{% mediapath object.photo %}" data-holder-rendered="true" style="width: 20%; height: 20%">

        <div class="card-body">
            <h2 class="card-title pricing-card-title">{{ object.name }}</h2>
            <h5 class="card-title pricing-card-title">{{ object.price }} руб.</h5>
            <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                <li>{{ object.description }}</li>
            </ul>
        </div>
    </div>

</div>
