{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
</div>

<div class="container">
    <div class="row text-center">
        {% for object in objects_list %}
        {% load my_tags %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.price }}</h1>
                    <img class="col-12" src="{{ object.photo|mediapath }}">
                    <p class="text-center">{{object.description | slice:100}}</p>
                    <div class="btn-group">
                    <a href="{% url 'catalog:item' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">
                        К товару
                    </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
