{% extends 'catalog/base.html' %}

{% block content %}
    <form class="row p-4" method="post" enctype="multipart/form-data">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    {% if object %}
                    <h3 class="card-title"> Обновить продукт</h3>
                    {% else %}
                    <h3 class="card-title"> Создать продукт</h3>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{form.as_p}}
                    {% if object %}
                    <button type="submit" class="btn btn-success">Update</button>
                    {% else %}
                    <button type="submit" class="btn btn-success">Create</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}